---
import Box from '../ui/Box.astro';
import Button from '../ui/Button.astro';

type ButtonStyle = 'primary' | 'secondary';

interface Props {
  title?: string;
  text?: string;
  buttonLabel?: string;
  buttonHref?: string;
  buttonStyle?: ButtonStyle;
}

const {
  title,
  text,
  buttonLabel,
  buttonHref,
  buttonStyle = 'primary',
} = Astro.props;

if (!buttonHref || !buttonLabel) return;
---

<Box>
  <div aria-label={title ?? "Appel à l'action"} class='text-center'>
    {title && <h2 class='mb-4 text-2xl font-bold'>{title}</h2>}
    {text && <p class='mb-6 text-muted-foreground'>{text}</p>}
    <Button href={buttonHref} label={buttonLabel} style={buttonStyle} />
  </div>
</Box>
